<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/globalstyles.css">
    <link rel="stylesheet" href="CSS/comingstyles.css">
    <link rel="icon" href="Resources/Images/logo.png">
    <title>Coming Soon | MISMUN</title>
</head>
<body>
    <div class="element">

        <header class="header">
            <nav class="navbar">
                <a href="index.html" class="nav-logo"><span class="ihy">MIS</span>MUN</a>
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="committees.html" class="nav-link">Committees</a>
                    </li>
                    <li class="nav-item">
                        <a href="secretariat.html" class="nav-link">Secretariat</a>
                    </li>
                    <li class="nav-item">
                        <a href="veritas.html" class="nav-link">Veritas</a>
                    </li>
                    <li class="nav-item">
                        <a href="brochure.html" class="nav-link">Brochure</a>
                    </li>
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </header>

        <div class="container">
            <p class="title">Coming Soon.</p>
            <p class="info">This web page will be updated soon. Please check in later!</p>
        </div>



    </div>


    <script src="./JS/navbar.js"></script>
</body>
</html>