.title {
    margin-left: 7.5rem;
    font-family: europabold;
    letter-spacing: -2px;
    font-size: 350%;
    color: #2b2b2b;
    margin-top: -1rem;
    margin-right: 7.5rem;
}
.titleinfo {
    margin-left: 7.5rem;
    margin-right: 7rem;
    font-family: europaregular;
    font-size: 115%;
    color: #464646;
    margin-top: -3rem;
    padding-right: 25rem;
}

.idkman {
    font-family: europabold;
    color: #2b2b2b;
    font-size: 120%;
}

@media (max-width: 1700px) {

    .titleinfo{
        padding-right: 10rem ;
    }
  }

  @media (max-width: 1130px) {

    .titleinfo{
        padding-right: 0rem ;
    }
  }

@media (max-width: 900px) {

    .title{
        font-size: 250%;
    }
    .titleinfo{
        margin-top: -2.2rem;
        font-size: 100%;
    }
  }

  @media (max-width: 640px) {

    .title{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .titleinfo{
        margin-left: 1rem;
        margin-right: 1rem;
    }
  }

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-left: 4.5rem;
}

.subcontainer {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
}

.person {
    width: 14.5rem;
    border-radius: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.position {
    font-size: 1.2rem;
    color: #09A085;
    font-family: europabold;
}

.idkwhy {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.random {
    font-family: europaregular;
    color : #09A085;
    font-size: 0.9rem;
    margin-top: -0.9rem;
}

.line {
    width: 5rem;
    height: 0.15rem;
    margin-left: 0.4rem;
    margin-top: -0.3rem;
    color: #09A085;
    background: #09A085;
    border: none;

}

.name {
    font-family: europabold;
    color: #2b2b2b;
    font-size: 1.6rem;
    margin-top: -0.6rem;
}

.quote {
    font-family: europaregular;
    color: #373737;
    margin-top: -1.2rem;
    
}

.loser {
    transition: 0.5s;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.loser:hover {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    border-radius: 2rem;
    box-shadow:  -21px 21px 39px #ebebeb,
             21px -21px 39px #ffffff;
    transition: 0.5s;
    
}

@media (max-width: 790px) {

    .person{
        width: 12rem;
    }
    .subcontainer{
        margin-left: 0.5rem;
    }
    .container{
        margin-left: 6.5rem;
    }
  }

@media (max-width: 735px) {

    .person{
        width: 15rem;
    }
    .subcontainer{
        margin-left: 0.5rem;
    }
    .container{
        margin-left: 7rem;
    }
}

@media (max-width: 640px) {

    .person{
        width: 12rem;
    }
    .subcontainer{
        margin-left: 0rem;
    }
    .container{
        margin-left: 1rem;
    }
}

@media (max-width: 632px) {

    .person{
        width: 15rem;
    }
    .subcontainer{
        margin-left: 0rem;
    }
    .container{
        margin-left: 1rem;
    }
}


.popo .overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
	display: none;
}

.popo .content {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	background: #fff;
	width: 530px;
	height: 350px;
	z-index: 2;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 30px;
	color: #000000;
	max-width: 80%;
}

.tattim {
	margin-top: 10%;
}

.tattim h1 {
	font-family: title;
	font-weight: bold;
}

.tattim p {
	font-family: body;
	font-weight: normal;
}

.tattie {
	margin-top: 5%;
}

.tattie h1 {
	font-family: title;
	font-weight: bold;
}

.tattie p {
	font-family: body;
	font-weight: normal;
	padding-bottom: 10px;
}

.tattir {
	margin-top: 10%;
}

.abe {
	font-size: 15px;
}

.tattir h1 {
	font-family: title;
	font-weight: bold;
}

.tattir p {
	font-family: body;
	font-weight: normal;
}

.popo .closebtn {
	cursor: pointer;
	position: absolute;
	transition: all 500ms ease-in-out;
	right: 20px;
	top: 20px;
	width: 30px;
	height: 30px;
	background: #fff;
	color: black;
	font-size: 25px;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
}

button {
	cursor: pointer;
}

.omg a {
	color: #ffffff;
	text-decoration: none;
}

.ohlol a {
	color: #fff;
	text-decoration: none;
}

.content a {
	text-decoration: none;
	background: linear-gradient(120deg, #1f6fe0, #e8f0fc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.popo.active .overlay {
	display: block;
	pointer-events: all;
}

.popo.active .content {
	transition: all 300ms ease-in-out;
	transform: translate(-50%, -50%) scale(1);
}

.popo h1 {
	background: linear-gradient(120deg, #1f6fe0, #e8f0fc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: title;
}



